@import url('https://fonts.googleapis.com/css?family=Oswald|Pontano+Sans');


body {
	color:#333;
}

#main {
    	font-family: 'Pontano Sans', sans-serif;
}

a.event-link {
    	font-weight: bold;
}


#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
    border-top: 0px;
}


.program p.arr {
    -webkit-margin-before: 0em;
}


.program p.besk  {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.program p.vad  {
    -webkit-margin-after: 0em;
}

.program p.taggar  {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}



.program>ul>li {
    	padding-top:10px;
}

.content  {
    	margin-top: 10px;
}

a {
	color:#d32027;
	text-decoration:none;
}

a:hover {
	color:#EBEBEB;
}

.taggar  {
	font-weight:bold;
	color:#999999;
}

.vad     {
 	-webkit-margin-after: 0.5em;
}




.pure-button-primary {
    background-color: #d32027;
    color: #fff;
}

.pure-button-primary:hover {
    color: #fff;
}

#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
    background-color: #AA1A20;
}



.header h1  {
    	font-family: Oswald, sans-serif;
	text-transform:uppercase;
	color:#000;
	font-size:2.5em;
}


h1  {
    	font-family: Oswald, sans-serif;
	text-transform:uppercase;
	color:#000;
	font-size:2.5em;
    	font-weight: 300;
	line-height: normal;
}

.pure-menu-link {
	font-size:1.2em;
}


a .pure-menu-link {
    background-color: #d32027;

a .pure-menu-link:hover {
    background-color: #AA1A20;

a .pure-menu-link:focus {
    background-color: #AA1A20;
}

#menu .pure-menu-heading  {
    	font-family:Oswald, sans-serif;
	text-transform:uppercase;
	font-size: 160%;
    	padding: 0.5em 0.5em 0.5em 0.5em;
}


.pure-form legend   {
    	font-family: Oswald, sans-serif;
	text-transform:uppercase;
	font-size: 2em;
}


h2   {
    	font-family: Oswald, sans-serif;
	text-transform:uppercase;
	font-size: 2em;	
}


.content h2 {
	color:#000;
}


.arr {
    font-style: italic;
}


.vad {
    font-style: italic;
}


.taggar {
    font-style: italic;
}


.menu-link {
    background: #d32027;
}

.menu-link:hover {
    background: #EBEBEB;
}



#menu {
    background: #d32027;
}


#menu .pure-menu-heading {
    background: #fff;
    color: #d32027;
    text-align:center;  
}

#menu .pure-menu-heading:hover {
    background: #EBEBEB;
}

#menu a {
    color: #fff;
    font-family: Oswald, sans-serif;
	text-transform:uppercase;

#menu a:hover {
    background-color: #AA1A20;
    font-family: Oswald, sans-serif;
	text-transform:uppercase;


#footer  {
	font-size:0.8em;
	color:#666;
}
